/* Reset some default styling */
body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set the base font family and background color */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: linear-gradient(135deg, rgb(252, 91, 91), rgb(255, 255, 82));
}

/* Style for the main heading */
#heading {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    color: #333;
}

/* Customize placeholder text appearance */
::placeholder {
    font-size: x-large;
    color: lightgray
}

/* Styling for the todo container */
.todo-Container {
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

/* Styling for the header section */
header {
    margin: 12px 12px 0px 12px;
    border-bottom: 1px solid #ddd;
}

/* Styling for the input container */
#input-Container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

/* Styling for the input field */
#task-Input {
    flex: 1;
    font-size: x-large;
    padding: 15px;
    padding-left: 60px;
    border: none;
    border-radius: 12px;
    background: rgba(197, 196, 196, 0.1);
}

/* Styling when the input field is focused */
#task-Input:focus {
    background: rgba(197, 197, 197, 0.3);
}

/* Styling for the list icon */
#list-Icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

/* Styling for the add button */
#add-Btn {
    /* background-color: rgba(197, 196, 196, 0.1); */
    border: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Styling for the add button when input is focused */
#task-Input:focus+#add-Btn {
    cursor: pointer;
    opacity: 1;
}

/* Styling for the add icon */
#add-Icon {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

/* Styling for the bottom section of the header */
#header-Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* Styling for the double-check icon */
#doubleCheck-Icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Styling for clickable actions in header */
#complete-All,
#clear-Complete {
    font-size: 12px;
    color: #9c9c9c;
    cursor: pointer;
}

#complete-All:hover,
#clear-Complete:hover {
    color: black
}

/* Styling for the footer section */
footer {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the total tasks indicator */
#total-Tasks {
    margin-left: 15px;
    font-size: 12px;
    color: #9c9c9c;
}

/* Styling for the task counter */
#task-Counter {
    font-weight: bold;
    color: #333;
}

/* Styling for clickable footer links */
footer p {
    display: inline;
    font-size: 12px;
    color: #9c9c9c;
    cursor: pointer;
}

/* Styling for footer filter options */
#all,
#uncompletd,
#completed {
    margin: 0 2px;
    text-decoration: none;
}

/* Styling for hover effect on footer filter option */
#all:hover,
#uncompletd:hover,
#completed:hover {
    color: black;
}

/* Add underline when the link is active */
#all.active,
#uncompletd.active,
#completed.active {
    text-decoration: underline;
    color: black;
}

/* Styling for the main content section */
main {
    margin: 12px;
    border-bottom: 1px solid #ddd;
}

/* Styling for unordered lists */
ul {
    list-style-type: none;
    margin-top: -12px;
}

/* Styling for list items */
ul li {
    padding: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#delete-Btn {
    opacity: 0;
    width: 25px;
    width: 25px;
    cursor: pointer;
}

li:hover #delete-Btn {
    opacity: 1;
}

/* Hide the default checkbox */
.custom-checkbox {
    display: none;
}

#task {
    padding-left: 30px;
    cursor: pointer;
}

.checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.custom-checkbox:checked+.checkbox-label::before {
    content: "\2713";
    /* Unicode character for checkmark */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.custom-checkbox:checked+.checkbox-label {
    border-color: #2196F3;
    background-color: #2196F3;
    cursor: pointer;
}